<main class="container">
  <h1>Add Subscriber</h1>

  <form action="/subscribers" method="POST" class="form">
    <label>
      Name
      <input type="text" name="name" required />
    </label>

    <label>
      Email
      <input type="email" name="email" required />
    </label>

    <label>
      Zip Code
      <input type="number" name="zipCode" required />
    </label>

    <label>
      Street Address
      <input type="text" name="streetAddress" required />
    </label>

    <label class="checkbox">
      <input type="checkbox" name="vip" />
      VIP
    </label>

    <button class="button" type="submit">Save Subscriber</button>
  </form>

  <p><a href="/subscribers">Back to List</a></p>
</main>
